# Created by https://www.toptal.com/developers/gitignore/api/svelte
# Edit at https://www.toptal.com/developers/gitignore?templates=svelte

### Svelte ###
# gitignore template for the SvelteKit, frontend web component framework
# website: https://kit.svelte.dev/

.svelte-kit/
package
manifest.json
node-modules

# End of https://www.toptal.com/developers/gitignore/api/svelte

